@page "{id}"
@model BookLand.Web.Areas.Admin.Pages.Books.DetailsModel
@{
}

<h1>Book Details</h1>

<vc:image-box content="@Model.Book.ImageData" style="img-fluid" alt="picture"></vc:image-box>
 
<table class="table">
    <tr>
        <td>Title</td>
        <td>@Model.Book.Title</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>@Model.Book.Author</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>@Model.Book.Year</td>
    </tr>

    <tr>
        <td>Pages</td>
        <td>@Model.Book.Pages</td>
    </tr>
</table>

