@page "{term?}"
@model BookLand.Web.Areas.Admin.Pages.Books.IndexModel
@{
}

<h1>Books</h1>
<a asp-page="./create" class="btn btn-primary">Create</a>

<form method="get" class="form mt-3 inline">
    <div class=row>
        <div class="col-sm-6">
            <div class="input-group">
                <input class="form-control" name="term" value="@Model.Term" placeholder="Term">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</form>

<form method="get" class="form mt-3 inline">
    <div class=row>
        <div class="col-sm-6">

            <select asp-for="SelectedLanguage" class="form-control">
                <option value="All">All</option>
                <option value="English">English</option>
                <option value="Italian">Italian</option>
                <option value="French">French</option>
                <option value="Danish">Danish</option>
            </select>

            <button class="btn btn-primary" type="submit">Filter</button>
        </div>
    </div>
</form>

<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">
                <a asp-page="./index" asp-route-term="@Model.Term" asp-route-sortby="@Model.SortBy" asp-route-orderby="author">
                    Author
                </a>


            </th>
            <th scope="col">
                <a asp-page="./index" asp-route-term="@Model.Term" asp-route-sortby="@Model.SortBy" asp-route-orderby="year">
                    Year
                </a>
            </th>
            <th scope="col">Pages</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model.BookList)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.Pages</td>
                <td>
                    <a asp-page="./edit" asp-route-id="@book.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="./details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                    <a asp-page="./delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>